<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.IplogMapper" >

  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.Iplog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="userType" property="userType" jdbcType="TINYINT" />
  </resultMap>

  <insert id="insert" parameterType="com.xmg.p2p.base.domain.Iplog" useGeneratedKeys="true" keyProperty="id" >
    insert into `iplog` (ip, state, username, loginTime, userType)
    values (#{ip,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{username,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{userType})
  </insert>

  <sql id="base_column">
    id, ip, state, username, loginTime, userType
  </sql>

  <sql id="base_where">
    <where>
      <if test="username!=null">
        and username = #{username}
      </if>
      <if test="state>-1">
        and state = #{state}
      </if>
      <if test="userType>-1">
        and userType = #{userType}
      </if>
      <if test="beginDate!=null">
        <![CDATA[
           and loginTime >= #{beginDate}
        ]]>
      </if>
      <if test="endDate!=null">
        <![CDATA[
           and loginTime <= #{endDate}
        ]]>
      </if>
    </where>
  </sql>

  <select id="queryForCount" resultType="java.lang.Integer">
    select count(id)
    from `iplog`
    <include refid="base_where"/>
  </select>

  <select id="query" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from `iplog`
    <include refid="base_where"/>
    order by loginTime desc
    limit #{start},#{pageSize}
  </select>
</mapper>