<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.VideoAuthMapper" >

  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.VideoAuth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP" />

    <association property="applier" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="ap_">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
    <association property="auditor" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="au_">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
  </resultMap>

  <insert id="insert" parameterType="com.xmg.p2p.base.domain.VideoAuth" useGeneratedKeys="true" keyProperty="id" >
    insert into `videoauth` (state, remark, applier_id, 
      applyTime, auditor_id, auditTime)
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{applier.id,jdbcType=BIGINT},
      #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{auditTime,jdbcType=TIMESTAMP})
  </insert>

  <sql id="base_column">
    v.id, v.state, v.remark, v.applyTime, v.auditTime,
    ap.id as ap_id, ap.username as ap_username, au.id as au_id, au.username as au_username
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="base_column"/>
    from `videoauth` as v
    join logininfo as ap on v.applier_id = ap.id
    join logininfo as au on v.auditor_id = au.id
    where v.id = #{id,jdbcType=BIGINT}
  </select>

  <sql id="base_where">
    <where>
      <if test="state>-1">
        and v.state = #{state}
      </if>
      <if test="beginDate!=null">
        <![CDATA[
           and v.applyTime >= #{beginDate}
        ]]>
      </if>
      <if test="endDate!=null">
        <![CDATA[
           and v.applyTime <= #{endDate}
        ]]>
      </if>
    </where>
  </sql>
  <select id="queryForCount" resultType="java.lang.Integer">
    select count(id)
    from `videoauth` v
    <include refid="base_where" />
  </select>

  <select id="query" resultType="com.xmg.p2p.base.domain.RealAuth">
    select <include refid="base_column" />
    from `videoauth` v
    join logininfo as ap on v.applier_id = ap.id
    join logininfo as au on v.auditor_id = au.id
    <include refid="base_where" />
    limit #{start},#{pageSize}
  </select>
</mapper>